# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
#  branches:
#    include:
#    - master
  tags:
    include:
    - v*

pool:
  vmImage: 'macos-latest'

steps:

- task: DownloadSecureFile@1
  name: polskatv
  displayName: 'Download polskatv.jks'
  inputs:
    secureFile: 'polskatv.jks'
- task: DownloadSecureFile@1
  name: keystore
  displayName: 'Download keystore_azure.properties'
  inputs:
    secureFile: 'keystore.properties'
- task: DownloadSecureFile@1
  name: settings
  displayName: 'Download settings.properties'
  inputs:
    secureFile: 'settings.properties'
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      cp $(keystore.secureFilePath) $(Build.SourcesDirectory)
      cp $(settings.secureFilePath) $(Build.SourcesDirectory)
      cp $(polskatv.secureFilePath) $(Build.SourcesDirectory)
      ls -all
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'assembleRelease'
- task: CopyFiles@2
  inputs:
    contents: 'app/build/outputs/apk/release/*.apk'
    targetFolder: $(Build.ArtifactStagingDirectory)
- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: $(Build.ArtifactStagingDirectory)
    artifactName: MyBuildOutputs
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      echo "Start"
      for file in $(Build.ArtifactStagingDirectory)/app/build/outputs/apk/release/*; do
          echo curl -X POST https://content.dropboxapi.com/2/files/upload --header "Authorization: Bearer $(DB)" --header "Dropbox-API-Arg: {\"path\": \"/apk/$(basename "$file")\",\"mode\": \"add\",\"autorename\": true,\"mute\": false}" --header "Content-Type: application/octet-stream" --data-binary "@$file"
          curl -vvv -X POST https://content.dropboxapi.com/2/files/upload --header "Authorization: Bearer $(DB)" --header "Dropbox-API-Arg: {\"path\": \"/apk/$(basename "$file")\",\"mode\": \"add\",\"autorename\": true,\"mute\": false}" --header "Content-Type: application/octet-stream" --data-binary "@$file"
      done
      echo "Stop"
